.p_btn{
    padding: 10px 18px;
    background-color: black;
    color: white;
    border-radius: 5px;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    cursor: pointer;
}
.o_btn{
    padding: 10px 18px;
    /* background-color: black; */
    border: 1px solid black;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: white;
    width: 100%;
    cursor: pointer;
}
